@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900);
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1140px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

.title-h1 {
  font-size: 78px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 1140px) {
  .title-h1 {
    font-size: 58px;
  }
}
@media (max-width: 899px) {
  .title-h1 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .title-h1 {
    font-size: 32px;
  }
}

.title-h2 {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 1140px) {
  .title-h2 {
    font-size: 42px;
  }
}
@media (max-width: 899px) {
  .title-h2 {
    font-size: 32px;
  }
}

.title-h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 1140px) {
  .title-h3 {
    font-size: 32px;
  }
}
@media (max-width: 899px) {
  .title-h3 {
    font-size: 24px;
  }
}

.title-h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 1140px) {
  .title-h4 {
    font-size: 20px;
  }
}

.title-h4--tiny {
  line-height: 1;
}

.gradient-border {
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom 15px;
  background-size: 100% 12px;
  background-image: linear-gradient(to right, rgb(251, 220, 77), rgb(251, 220, 77));
}
@media (max-width: 1140px) {
  .gradient-border {
    background-size: 100% 10px;
    background-position: center bottom 10px;
  }
}
@media (max-width: 899px) {
  .gradient-border {
    background-size: 100% 8px;
    background-position: center bottom 7px;
  }
}
@media (max-width: 767px) {
  .gradient-border {
    background-position: center bottom 4px;
  }
}

.title-h2.gradient-border {
  background-position: center bottom 12px;
  background-size: 100% 8px;
}
@media (max-width: 1140px) {
  .title-h2.gradient-border {
    background-position: center bottom 7px;
  }
}
@media (max-width: 899px) {
  .title-h2.gradient-border {
    background-position: center bottom 4px;
  }
}

.title-h4.gradient-border {
  background-position: center bottom 3px;
  background-size: 100% 6px;
}

.header-top {
  position: relative;
  padding-top: 60px;
  padding-bottom: 82px;
}
@media (max-width: 1140px) {
  .header-top {
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .header-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header-top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__navigation ul {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
@media (max-width: 1140px) {
  .header-top__navigation ul {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 899px) {
  .header-top__navigation ul {
    display: none;
  }
}
.header-top__navigation ul a {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}
.header-top__navigation ul a:hover, .header-top__navigation ul a:active, .header-top__navigation ul a:focus {
  color: #ff543e;
}
@media (max-width: 1140px) {
  .header-top__navigation ul a {
    font-size: 18px;
  }
}
.header-top__navigation ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ff543e;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s ease-in;
}
.header-top__navigation ul a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.header-top__title {
  display: none;
}
@media (max-width: 899px) {
  .header-top__title {
    display: block;
    margin-right: auto;
  }
}

.header-top__icons {
  display: flex;
  -moz-column-gap: 26px;
       column-gap: 26px;
  align-items: center;
}
.header-top__icons a:hover {
  opacity: 0.5;
}
@media (max-width: 1140px) {
  .header-top__icons {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 899px) {
  .header-top__icons {
    display: none;
  }
}

.header-top__nav-icon {
  display: none;
}
@media (max-width: 899px) {
  .header-top__nav-icon {
    display: block;
  }
}
.header-top__nav-icon--active {
  position: fixed;
  right: 15px;
  z-index: 30;
}

.header-top__mobile-menu {
  display: none;
}
@media (max-width: 899px) {
  .header-top__mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 100%;
    z-index: 20;
    opacity: 0;
    background-color: rgba(37, 73, 116, 0.8);
    transition: right 0.2s linear, opacity 0.2s ease-in 0.2s;
  }
  .header-top__mobile-menu--active {
    right: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in, top 0.2s linear;
  }
}

.header {
  padding-bottom: 91px;
  overflow: hidden;
}
@media (max-width: 1140px) {
  .header {
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .header {
    padding-bottom: 40px;
  }
}

.header__content {
  position: relative;
  z-index: 10;
}

.header__content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__content-row {
    flex-direction: column;
    position: relative;
  }
}

.header__text {
  max-width: 542px;
}
@media (max-width: 1140px) {
  .header__text {
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .header__text {
    padding-top: 39px;
  }
}
@media (max-width: 767px) {
  .header__text {
    padding-top: 0;
  }
}

.header__title {
  padding-top: 15px;
  margin-bottom: 30px;
}
@media (max-width: 1140px) {
  .header__title {
    padding-top: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .header__title {
    margin-bottom: 20px;
  }
}

.header__description {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.6;
}
@media (max-width: 1140px) {
  .header__description {
    margin-bottom: 28px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .header__description {
    padding-right: 25px;
    margin-bottom: 39px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .header__description {
    display: none;
  }
}

.header__buttons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 899px) {
  .header__buttons {
    display: none;
  }
}

.header__img {
  box-shadow: 40px 40px rgba(255, 255, 255, 0.5);
}
@media (max-width: 1140px) {
  .header__img {
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  .header__img {
    margin-bottom: 10px;
  }
}
.header__img img {
  width: 475px;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1140px) {
  .header__img img {
    width: 376px;
    height: 325px;
  }
}
@media (max-width: 899px) {
  .header__img img {
    width: 290px;
    height: 250px;
  }
}

.header__description-text {
  display: none;
}
@media (max-width: 767px) {
  .header__description-text {
    display: block;
    font-weight: 400;
    line-height: 1.6;
  }
}

.header__banner {
  margin-top: -157px;
  margin-bottom: -30px;
}
@media (max-width: 1140px) {
  .header__banner {
    width: 900px;
    margin-top: -85px;
    margin-bottom: -9px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 899px) {
  .header__banner {
    width: 768px;
    margin-top: -90px;
    margin-bottom: -15px;
  }
}
@media (max-width: 767px) {
  .header__banner {
    width: 320px;
    margin-top: unset;
    margin-bottom: 12px;
  }
}
.header__banner img {
  margin: 0 auto;
}

.header__skills {
  position: relative;
  z-index: 10;
}

.header__skills-row {
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  .header__skills-row {
    flex-direction: column;
  }
}

.header__skills-benefits {
  flex-shrink: 0;
  width: 635px;
}
@media (max-width: 1140px) {
  .header__skills-benefits {
    width: 493px;
    flex-shrink: unset;
  }
}
@media (max-width: 899px) {
  .header__skills-benefits {
    width: 354px;
  }
}
@media (max-width: 767px) {
  .header__skills-benefits {
    width: 290px;
  }
}

.header__skills-title,
.header__skills-links-title {
  margin-bottom: 31px;
}
@media (max-width: 1140px) {
  .header__skills-title,
  .header__skills-links-title {
    margin-bottom: 20px;
    padding-left: 2px;
  }
}
@media (max-width: 899px) {
  .header__skills-title,
  .header__skills-links-title {
    margin-bottom: 22px;
    padding-left: unset;
  }
}
@media (max-width: 767px) {
  .header__skills-title,
  .header__skills-links-title {
    margin-bottom: 20px;
  }
}

.header__skills-list {
  padding-left: 7px;
  font-weight: 400;
  line-height: 1.3;
  font-size: 22px;
}
@media (max-width: 1140px) {
  .header__skills-list {
    font-size: 18px;
  }
}
@media (max-width: 1140px) and (max-width: 899px) {
  .header__skills-list {
    font-size: 16px;
    padding-left: 0;
  }
}
.header__skills-list li:not(:last-child) {
  margin-bottom: 10px;
}
.header__skills-list li::before {
  content: "—";
  position: relative;
  left: -8px;
}
@media (max-width: 899px) {
  .header__skills-list li::before {
    display: none;
  }
}

.header__skills-button {
  margin-top: 28px;
}

.header__skills-links-email {
  margin-top: 15px;
}
@media (max-width: 1140px) {
  .header__skills-links-email {
    margin-top: 20px;
    padding-left: 1px;
  }
}

.button {
  border-radius: 50px;
  background-color: rgb(239, 247, 252);
  padding: 19px 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}
.button:hover, .button:focus {
  background-color: rgb(209, 237, 255);
}
.button:active {
  background-color: rgb(176, 220, 248);
}
@media (max-width: 1140px) {
  .button {
    padding: 16px 26px;
  }
}
@media (max-width: 899px) {
  .button {
    display: block;
    margin: 0 auto;
  }
}
.button--accent {
  background-color: rgb(251, 220, 77);
}
.button--accent:hover, .button--accent:focus {
  background-color: rgb(255, 235, 141);
}
.button--accent:active {
  background-color: rgb(245, 210, 45);
}

.back-top {
  position: fixed;
  z-index: 20;
  display: inline-flex;
  justify-content: center;
  align-items: end;
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 40px;
  background-color: rgb(176, 208, 215);
}

.socials {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1140px) {
  .socials {
    gap: 20px;
  }
}
.socials a {
  display: block;
}

@media (max-width: 1140px) {
  .socials--contacts {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 1140px) and (max-width: 899px) {
  .socials--contacts {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.socials__icons {
  transition: 0.2s ease-in;
}
.socials__icons:hover, .socials__icons:active, .socials__icons:focus {
  opacity: 0.75;
}

.socials__linkedin {
  width: 32px;
  height: 32px;
  fill: black;
}
@media (max-width: 1140px) {
  .socials__linkedin {
    width: 28px;
    height: 28px;
  }
}

.socials__github {
  width: 42px;
  height: 42px;
  fill: #212121;
}
@media (max-width: 1140px) {
  .socials__github {
    width: 36px;
    height: 36px;
  }
}

.socials__tg {
  width: 48px;
  height: 48px;
  fill: #039be5;
}
@media (max-width: 899px) {
  .socials__tg {
    width: 38px;
    height: 38px;
  }
}

.socials__vk {
  width: 48px;
  height: 48px;
  fill: #4d76a1;
}
@media (max-width: 899px) {
  .socials__vk {
    width: 38px;
    height: 38px;
  }
}

.socials__fb {
  width: 48px;
  height: 48px;
  fill: #3b5998;
}
@media (max-width: 899px) {
  .socials__fb {
    width: 38px;
    height: 38px;
  }
}

.socials__inst {
  fill: #212121;
  display: block;
}
@media (max-width: 899px) {
  .socials__inst {
    width: 38px;
    height: 38px;
  }
}

.socials__wa {
  width: 48px;
  height: 48px;
  fill: #55cd6c;
}
@media (max-width: 899px) {
  .socials__wa {
    width: 38px;
    height: 38px;
  }
}

.link {
  color: rgb(26, 113, 210);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  transition: color 0.2s ease-in;
}
@media (max-width: 1140px) {
  .link {
    font-size: 18px;
  }
}
.link:hover {
  color: rgb(255, 84, 62);
}

@media (max-width: 899px) {
  .link--contacts {
    font-size: 16px;
    line-height: 1.6;
  }
}

.portfolio {
  padding-top: 80px;
  padding-bottom: 90px;
  background-image: linear-gradient(rgb(245, 251, 255), rgb(244, 248, 249));
}
@media (max-width: 1140px) {
  .portfolio {
    padding-top: 40px;
    padding-bottom: 61px;
  }
}
@media (max-width: 899px) {
  .portfolio {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.portfolio__title {
  margin-bottom: 65px;
}
@media (max-width: 1140px) {
  .portfolio__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .portfolio__title {
    margin-bottom: 30px;
    padding-left: 2px;
  }
}

.portfolio__filter {
  margin-bottom: 33px;
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media (max-width: 767px) {
  .portfolio__filter {
    -moz-column-gap: 20px;
         column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.portfolio__filter button {
  color: rgb(158, 194, 208);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  transition: all 0.2s ease-in;
}
.portfolio__filter button:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .portfolio__filter button {
    font-size: 14px;
  }
}

.mixitup-control-active {
  color: rgb(0, 0, 0) !important;
}

.portfolio__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
}
@media (max-width: 1140px) {
  .portfolio__wrapper {
    row-gap: 40px;
  }
}
@media (max-width: 899px) {
  .portfolio__wrapper {
    row-gap: 20px;
  }
}
@media (max-width: 767px) {
  .portfolio__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

.col {
  width: 100%;
  height: 100px;
  background-color: red;
}

.card {
  grid-column: span 6;
}

.card__link:hover .card__img::before {
  transform: translateY(0);
}
.card__link:hover .card__button-like {
  opacity: 1;
}
.card__link:hover .card__title {
  color: rgb(239, 104, 87);
}

.card__img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
@media (max-width: 899px) {
  .card__img {
    margin-bottom: 10px;
  }
}
.card__img img {
  width: 540px;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1140px) {
  .card__img img {
    width: 420px;
    height: 288px;
  }
}
@media (max-width: 899px) {
  .card__img img {
    width: 354px;
    height: 180px;
  }
}
.card__img::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 251, 255, 0.75);
  transform: translateY(100%);
  transition: all 0.3s ease-in;
}

.card__button-like {
  position: absolute;
  display: inline-block;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px 20px;
  border-radius: 80px;
  background-color: rgb(239, 104, 87);
  opacity: 0;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  transition: all 0.3s ease-in;
}
@media (max-width: 899px) {
  .card__button-like {
    padding: 7px 10px;
    font-size: 14px;
  }
}

.card__title {
  margin-bottom: 8px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 1140px) {
  .card__title {
    margin-bottom: 6px;
    font-size: 24px;
  }
}
@media (max-width: 899px) {
  .card__title {
    margin-bottom: 4px;
    font-size: 18px;
  }
}

.card__description {
  font-size: 20px;
  line-height: 1.3;
}
@media (max-width: 1140px) {
  .card__description {
    font-size: 16px;
  }
}
@media (max-width: 899px) {
  .card__description {
    font-size: 14px;
  }
}
.card__description :not(:last-child) {
  margin-bottom: 10px;
}

.card__description-link {
  text-decoration: underline;
  font-weight: 600;
}

.card--small {
  grid-column: span 4;
}
.card--small .card__img {
  margin-bottom: 16px;
}
@media (max-width: 1140px) {
  .card--small .card__img {
    margin-bottom: 10px;
  }
}
.card--small .card__img img {
  width: 350px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1140px) {
  .card--small .card__img img {
    width: 270px;
    height: 169px;
  }
}
@media (max-width: 899px) {
  .card--small .card__img img {
    width: 226px;
    height: 140px;
  }
}
@media (max-width: 767px) {
  .card--small .card__img img {
    width: 354px;
    height: 180px;
  }
}
.card--small .card__button-like {
  font-size: 14px;
  line-height: 1;
}
.card--small .card__title {
  margin-bottom: 6px;
  font-size: 24px;
}
@media (max-width: 1140px) {
  .card--small .card__title {
    margin-bottom: 4px;
    font-size: 18px;
  }
}
.card--small .card__description {
  font-size: 18px;
}
@media (max-width: 1140px) {
  .card--small .card__description {
    font-size: 14px;
  }
}

.timeline {
  padding: 80px 0 70px;
  overflow: hidden;
}
@media (max-width: 1140px) {
  .timeline {
    padding: 65px 0;
  }
}
@media (max-width: 899px) {
  .timeline {
    padding: 40px 0;
  }
}

.timeline__title {
  margin-bottom: 70px;
  text-align: center;
  padding-left: 90px;
}
@media (max-width: 1140px) {
  .timeline__title {
    margin-bottom: 51px;
    padding-left: unset;
  }
}
@media (max-width: 899px) {
  .timeline__title {
    margin-bottom: 41px;
  }
}

.timeline__wrapper {
  width: 901px;
  margin-left: 153px;
}
@media (max-width: 1140px) {
  .timeline__wrapper {
    width: 774px;
    margin: 0 auto;
  }
}
@media (max-width: 899px) {
  .timeline__wrapper {
    padding-left: 15px;
    width: 385px;
  }
}
@media (max-width: 767px) {
  .timeline__wrapper {
    width: 273px;
    padding-left: 8px;
  }
}

.timeline__step {
  width: 50%;
  padding-bottom: 58px;
}
@media (max-width: 1140px) {
  .timeline__step {
    padding-bottom: 67px;
  }
  .timeline__step:nth-last-child(2) {
    padding-bottom: 72px;
  }
}
@media (max-width: 899px) {
  .timeline__step {
    width: 100%;
    padding-bottom: 45px;
  }
  .timeline__step:nth-last-child(2) {
    padding-bottom: 45px;
  }
}
.timeline__step::after, .timeline__step::before {
  position: absolute;
  content: "";
}
.timeline__step::before {
  width: 4px;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: rgb(225, 238, 244);
}
.timeline__step::after {
  top: 0;
  width: 34px;
  height: 34px;
  border: 4px solid rgb(225, 238, 244);
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}

.timeline__step:last-child {
  padding-bottom: 0;
}

.timeline__step:last-child::before {
  display: none;
}

.timeline__step:nth-child(odd) {
  position: relative;
  padding-right: 56px;
  text-align: right;
}
.timeline__step:nth-child(odd)::after, .timeline__step:nth-child(odd)::before {
  right: 0;
  transform: translateX(50%);
}
@media (max-width: 899px) {
  .timeline__step:nth-child(odd)::after, .timeline__step:nth-child(odd)::before {
    left: 0;
    transform: translateX(-50%);
  }
}
@media (max-width: 1140px) {
  .timeline__step:nth-child(odd) {
    padding-right: 37px;
  }
}
@media (max-width: 899px) {
  .timeline__step:nth-child(odd) {
    padding-right: unset;
    text-align: unset;
    padding-left: 27px;
  }
}

.timeline__step:nth-child(even) {
  position: relative;
  margin-left: auto;
  padding-left: 52px;
}
.timeline__step:nth-child(even)::after, .timeline__step:nth-child(even)::before {
  left: 0;
  transform: translateX(-50%);
}
@media (max-width: 1140px) {
  .timeline__step:nth-child(even) {
    padding-left: 37px;
  }
}
@media (max-width: 899px) {
  .timeline__step:nth-child(even) {
    padding-left: 27px;
  }
}

.step > *:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 1140px) {
  .step > *:not(:last-child) {
    margin-bottom: 7px;
  }
}

@media (max-width: 899px) {
  .step__title {
    padding-right: 100px;
  }
}
@media (max-width: 767px) {
  .step__title {
    padding-right: unset;
  }
}

@media (max-width: 899px) {
  .step__title--small {
    margin-bottom: 1px !important;
  }
}

.step__description {
  font-weight: 400;
  line-height: 1.4;
}
.step__description > *:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 1140px) {
  .step__description > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .step__description > *:not(:last-child) {
    margin-bottom: 9px;
  }
}
@media (max-width: 1140px) {
  .step__description {
    font-size: 14px;
  }
}

.step__description-time {
  font-weight: 700;
}

@media (max-width: 1140px) {
  .step__description-time--big {
    font-size: 16px;
  }
}

.contacts {
  position: relative;
  z-index: 10;
  padding: 70px 0 90px;
  background: linear-gradient(rgb(245, 251, 255), rgb(244, 248, 249));
  overflow: hidden;
}
@media (max-width: 1140px) {
  .contacts {
    padding: 42px 0 70px;
  }
}
@media (max-width: 899px) {
  .contacts {
    padding: 40px 0;
  }
}

.contacts__dots {
  position: absolute;
  z-index: -1;
  right: 7px;
}
@media (max-width: 1331px) {
  .contacts__dots {
    right: 0px;
    top: 30px;
  }
}
@media (max-width: 899px) {
  .contacts__dots {
    display: none;
  }
}

.contacts__title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
@media (max-width: 1140px) {
  .contacts__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .contacts__title {
    margin-bottom: 20px;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1140px) {
  .contacts__wrapper {
    -moz-column-gap: unset;
         column-gap: unset;
  }
}
@media (max-width: 899px) {
  .contacts__wrapper {
    -moz-column-gap: 114px;
         column-gap: 114px;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .contacts__wrapper {
    flex-direction: column-reverse;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 20px;
  }
}

.contacts__information {
  width: 538px;
}
@media (max-width: 1140px) {
  .contacts__information {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .contacts__information {
    width: 290px;
  }
}

.contacts__information-description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 32px;
}
@media (max-width: 1140px) {
  .contacts__information-description {
    font-size: 16px;
  }
}
@media (max-width: 899px) {
  .contacts__information-description {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.contacts__information-list {
  margin-bottom: 32px;
}
@media (max-width: 1140px) {
  .contacts__information-list {
    margin-bottom: 27px;
  }
}
@media (max-width: 899px) {
  .contacts__information-list {
    margin-bottom: 29px;
  }
}
@media (max-width: 767px) {
  .contacts__information-list {
    margin-bottom: 29px;
  }
}
.contacts__information-list li:not(:last-child) {
  margin-bottom: 22px;
}
@media (max-width: 1140px) {
  .contacts__information-list li:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media (max-width: 899px) {
  .contacts__information-list li:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contacts__information-list li {
  display: flex;
  align-items: center;
  -moz-column-gap: 85px;
       column-gap: 85px;
}
@media (max-width: 1140px) {
  .contacts__information-list li {
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
}
@media (max-width: 899px) {
  .contacts__information-list li {
    flex-direction: column;
    align-items: baseline;
  }
}
.contacts__information-list span {
  min-width: 103px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.6;
}
@media (max-width: 1140px) {
  .contacts__information-list span {
    font-size: 18px;
    min-width: 84px;
  }
}
@media (max-width: 899px) {
  .contacts__information-list span {
    font-size: 16px;
  }
}

.footer {
  padding-bottom: 50px;
  padding-top: 40px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}
@media (max-width: 1140px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__copyright {
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.4;
}

.footer__description {
  max-width: 825px;
  color: rgb(176, 176, 176);
  line-height: 1.5;
}
@media (max-width: 1140px) {
  .footer__description {
    font-size: 14px;
  }
}
@media (max-width: 899px) {
  .footer__description p {
    margin-bottom: 15px;
  }
}
@media (max-width: 899px) and (max-width: 767px) {
  .footer__description {
    padding-right: 15px;
  }
}

.white-link {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  transition: opacity 0.2s ease-in;
}
.white-link:hover {
  opacity: 0.7;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  cursor: pointer;
}

.nav-icon__middle {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #000000;
  transition: top 0.2s linear, transform 0.2s ease-in;
}
.nav-icon__middle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #000000;
  top: -10px;
  left: 0;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.nav-icon__middle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #000000;
  bottom: -10px;
  left: 0;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.nav-icon__middle--active {
  position: relative;
  z-index: 30;
  background-color: transparent;
}
.nav-icon__middle--active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.nav-icon__middle--active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.mobile-menu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  width: 320px;
  height: 100vh;
  margin-left: auto;
  padding: 30px 0 40px 15px;
}
@media (max-width: 767px) {
  .mobile-menu__wrapper {
    width: 100%;
    height: 100%;
  }
}

.mobile-menu__nav {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: rgb(0, 0, 0);
}
.mobile-menu__nav li:not(:last-child) {
  margin-bottom: 28px;
}
.mobile-menu__nav a:hover {
  color: rgb(255, 84, 62);
}

.mobile-menu__socials {
  margin-bottom: 20px;
}

.form {
  width: 540px;
  padding: 50px;
  box-shadow: 0px 20px 100px -10px rgba(160, 206, 237, 0.75);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 1140px) {
  .form {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .form {
    padding: 40px 15px;
    width: 290px;
  }
}

.form__group {
  position: relative;
}
.form__group:not(:last-child) {
  margin-bottom: 30px;
}

.form__fake-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  color: rgb(157, 157, 157);
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  transition: all 0.2s ease-in;
}
.form__fake-placeholder--email {
  top: 50%;
  transform: translateY(-50%);
}

.form__fake-placeholder--active {
  top: -5%;
  color: rgb(236, 167, 63);
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  transform: translateY(-105%);
}

.form__data {
  width: 440px;
  height: 162px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  border-bottom: 2px solid rgb(229, 229, 229);
}
@media (max-width: 1140px) {
  .form__data {
    width: 320px;
  }
}
@media (max-width: 899px) {
  .form__data {
    width: 260px;
  }
}

.form__data--input {
  height: 39px;
}

.error {
  color: red;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */